.item2 {
  width: 180px;
  display: inline-block;
}

.gray {
  background-color: #eee;
}
.line {

  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.line2 {
  width: 150px;
}
.button {
  margin-top: 4px;
  height: 50px;
}
.button2 {
  height: 35px;
}



